body{
    color: rgba(255, 255, 255, 1);
    margin: 0px;
    text-align: center;
    background-color: #171714;
}

.title-container{
    margin-top: 0px;
    padding: 10em;
    background-color: #080807;
}
.title{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
}

.title-text{
    display: inline-flex;
    flex-direction: column;
    font-size: 4em;
    text-align: left;
}


main .container{
    margin-inline: auto;
    width: 50%;
}

main .container p{
    line-height: 1.5;
}

main .container h1{
    font-size: 4em;
    font-style: italic;
}






/*
*   Footer
*/
footer{
    margin-bottom: 0px;
    background-color: #080807;
}

footer p{
    margin: 0px;
    padding: 0px;
}
