.teksti{
    text-align: center;
    width: 70rem;
    margin-inline: auto;
    margin-block: 7rem;
    padding: 15px;
}

.teksti-tausta{
    margin-inline: auto;
    width: 75%;
    text-align: center;
    background-color: #707070;
}

.teksti-tausta p {
    margin-inline: 50px;
}
