
body{
    background-color: #171714;
    /* background-color: #707070; */
    color: azure;
    height: fit-content;
    margin: 0px;
    text-align: center;
    font-size: large;
}

body > *{
    text-align: center;
}




.title{
    margin-block: 5em;
    width: 75%;
    margin: auto;
    margin-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.projektit{
    margin-top: 50px;
    margin-inline: auto;
    display: grid;
    text-align: center;
}

.projekti-kortti{
    aspect-ratio: 16 / 9;
    width: 50%;
    height: auto;
    margin-inline: auto;
    margin-bottom: 50px;
    overflow: hidden;
    text-align: center;

}

.projekti-kortti img{
    width: 100%;
    transition: 1s ease;
}



.otsikko{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    opacity: 0 !important;
    transform: translateY(-350px);
}

.projekti-kuvaus{
    margin-inline:auto ;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0 !important;
    transform: translateY(-350px);
    width: 75%;
}


.projekti-kortti:hover img{
    opacity: 0.5;
    filter: blur(5px);
    transition: 1s ease;
    transform: scale(1.1);
}



/*  Syystä tai toisesta ilman '!important' tägiä  otiskko ja teksti jäävät välillä näkyviin */
.projekti-kortti:hover .projekti-kuvaus{
    opacity: 1 !important;
}
.projekti-kortti:hover .otsikko{
    opacity: 1 !important;
}

/* Estää, ettei kursori muutu tekstin päällä toiseksi */
.projekti-kortti:hover{
    cursor: pointer;
}



.ala-viiva-dim{
    border-style: none none solid;
    border-width: 1px;
    border-color: #333333;
    padding-bottom: 15px;
}



footer p{
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size:medium;
}


footer{
    margin-top: 10em;
    margin-bottom: 0px;
    bottom: 0%;
    background-color: #080807;
}
