
body{
    background-color: #171714;
    /* background-color: #707070; */
    color: white;
    height: 2000px;
    margin: 0px;
    text-align: center;
}




/* .title{
    margin: auto;
    margin-bottom: 100px;
    width: 70rem;
    background-color: rgba(14, 14, 14, 0.189);
    color: white;
    padding: 50px;
    text-align: center;
} */



.projekti-rivi{
    width: 75%;
    margin-inline: auto;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
}

.projekti-kortti{
    /* background-color: rgba(194, 194, 194, 0.509); */
    color:black;
    margin: auto;
    width: 100%;
    display: grid;
    padding: 0px;
    justify-content: center;
    justify-items: center;
}


.projekti-kortti img {
    margin: 1em;
    width: 80%;
    height: auto;
}

.projekti-kortti > * {
    text-decoration: none;
    color: white;
}

.projekti-kortti a {
    margin: 1em;
    font-size: 1.3em;
}

.teksti-tausta{
    margin-inline: auto;
    width: 70%;
}

